In [1]:
import pandas as pd
import sqlite3
import warnings

warnings.filterwarnings('ignore')

In [2]:
#select directory that cointain db file
#%cd "C:\Users\Priscilla\Desktop\Gabriel"

connection = sqlite3.connect('desafio-tecnico.db')

cursor = connection.cursor()

#available
table_list = [a for a in cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]

# here is you table list
print(table_list)

[('accounts',), ('address',), ('levels',), ('charges',), ('transactions',), ('transaction_type',)]

<h2>Querys

In [3]:
#Query for classification model

dfModel = pd.read_sql_query("""
    SELECT accounts.account_number,
    transactions.value as tansactionValue,
    description,
    accounts.occupation,
    date('now') - date(accounts.birth) as age,
    state,
    city,x
    
    FROM accounts
    
    left join transactions as transactions on transactions.account_number = accounts.account_number 
    left join transaction_type as transaction_type on transactions.transaction_type_id = transaction_type.id 
    left join levels as levels on accounts.account_number = levels.account_number 
    left join address as address on address.id = accounts.address_id
    
    WHERE tansactionValue <> '' and level IS NOT NULL"""
    ,connection)
dfModel.tail()

,account_number,tansactionValue,description,occupation,age,state,city,fraud
228919,700993,69457,pix_enviado,Corretor,36,ES,Sao Mateus,0
228920,947006,52144,pix_enviado,Investidor,56,RJ,Vassouras,0
228921,654870,18844,pix_enviado,Outros,22,MG,Extrema,0
228922,909353,22633,pix_enviado,Desenvolvedor,53,MG,Pirapora,0
228923,897231,81441,pix_enviado,Investidor,26,PR,Xambre,1

In [4]:
#Query of all accounts and transactions that do not have registered level
dfToClassify = pd.read_sql_query("""
    SELECT accounts.account_number,
    transactions.value as tansactionValue,
    description,
    accounts.occupation,
    date('now') - date(accounts.birth) as age,
    state,
    city,
    CASE level
        WHEN 'F' THEN '1'
        WHEN 'A' THEN '0'
        WHEN 'B' THEN '0'
        WHEN 'C' THEN '0'
        WHEN 'D' THEN '0'
    END fraud
    
    FROM accounts
    
    left join transactions as transactions on transactions.account_number = accounts.account_number 
    left join transaction_type as transaction_type on transactions.transaction_type_id = transaction_type.id 
    left join levels as levels on accounts.account_number = levels.account_number 
    left join address as address on address.id = accounts.address_id
    WHERE level IS NULL"""
    ,connection)

dfToClassify['tansactionValue'] = dfToClassify['tansactionValue'].fillna(0)
dfToClassify['description'] = dfToClassify['description'].fillna("0")

dfToClassify.tail()

,account_number,tansactionValue,description,occupation,age,state,city,fraud
27313,354382,3844.0,pix_recebido,Corretor,35,RJ,Sao Joao de Meriti,None
27314,354382,3893.0,pix_recebido,Corretor,35,RJ,Sao Joao de Meriti,None
27315,354382,4011.0,pix_recebido,Corretor,35,RJ,Sao Joao de Meriti,None
27316,354382,4188.0,pix_recebido,Corretor,35,RJ,Sao Joao de Meriti,None
27317,354382,4279.0,pix_recebido,Corretor,35,RJ,Sao Joao de Meriti,None

<h2> Pre-processing of Data

In [5]:
previsores = dfModel.iloc[:, 0:7].values
classe = dfModel.iloc[:, 7].values

from sklearn.preprocessing import LabelEncoder
label_encoder_acc_name = LabelEncoder()
label_encoder_level = LabelEncoder()
label_encoder_description = LabelEncoder()
label_encoder_occupation = LabelEncoder()
label_encoder_state = LabelEncoder()
label_encoder_city = LabelEncoder()

previsores[:,0] = label_encoder_acc_name.fit_transform(previsores[:,0])
previsores[:,2] = label_encoder_description.fit_transform(previsores[:,2])
previsores[:,3] = label_encoder_occupation.fit_transform(previsores[:,3])
previsores[:,5] = label_encoder_state.fit_transform(previsores[:,5])
previsores[:,6] = label_encoder_city.fit_transform(previsores[:,6])

from sklearn.model_selection import train_test_split
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.15, random_state=0)

previsores_treinamento.shape, classe_treinamento.shape
previsores_teste.shape, classe_teste.shape

((34339, 7), (34339,))

<h2> Application of classification models

<h3>Naive Bayes

In [6]:
from sklearn.naive_bayes import GaussianNB
naive_risco_credito = GaussianNB()
naive_risco_credito.fit(previsores_treinamento, classe_treinamento)

previsoes = naive_risco_credito.predict(previsores_teste)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(classe_teste, previsoes)

0.9061417047671744

<h3> KNN

In [7]:
from sklearn.neighbors import KNeighborsClassifier
knn_froud = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p = 2)
knn_froud.fit(previsores_treinamento, classe_treinamento)
previsoes = knn_froud.predict(previsores_teste)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(classe_teste, previsoes)

0.9510469145869128

<h3> Logistic Regression

In [8]:
from sklearn.linear_model import LogisticRegression
logistic_froud = LogisticRegression(random_state=1)
logistic_froud.fit(previsores_treinamento, classe_treinamento)
previsoes = logistic_froud.predict(previsores_teste)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(classe_teste, previsoes)

0.8857858411718454

<h3> Redes Neurais Artificiais

In [9]:
from sklearn.neural_network import MLPClassifier
rede_neural_froud = MLPClassifier(max_iter=1500, verbose=True, tol=0.0000100,
                                   solver = 'adam', activation = 'relu',
                                   hidden_layer_sizes = (20,20))
rede_neural_froud.fit(previsores_treinamento, classe_treinamento)
previsoes = rede_neural_froud.predict(previsores_teste)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(classe_teste, previsoes)

Iteration 1, loss = 2.54478194
Iteration 2, loss = 1.56856876
Iteration 3, loss = 1.61789779
Iteration 4, loss = 1.31690771
Iteration 5, loss = 1.34778069
Iteration 6, loss = 1.17403439
Iteration 7, loss = 1.16193986
Iteration 8, loss = 1.18048960
Iteration 9, loss = 1.04648436
Iteration 10, loss = 1.17491603
Iteration 11, loss = 0.98646069
Iteration 12, loss = 1.07011753
Iteration 13, loss = 0.94008547
Iteration 14, loss = 0.96118172
Iteration 15, loss = 1.04026167
Iteration 16, loss = 1.02667966
Iteration 17, loss = 0.94987060
Iteration 18, loss = 0.85325025
Iteration 19, loss = 0.82435818
Iteration 20, loss = 0.81444757
Iteration 21, loss = 0.91789643
Iteration 22, loss = 0.88080833
Iteration 23, loss = 0.74499210
Iteration 24, loss = 0.87075198
Iteration 25, loss = 0.80953176
Iteration 26, loss = 0.66748531
Iteration 27, loss = 0.65113617
Iteration 28, loss = 0.72368400
Iteration 29, loss = 0.68953183
Iteration 30, loss = 0.64569182
Iteration 31, loss = 0.62141087
Iteration 32, loss = 0.55339878
Iteration 33, loss = 0.56264477
Iteration 34, loss = 0.58702883
Iteration 35, loss = 0.57223532
Iteration 36, loss = 0.58978420
Iteration 37, loss = 0.56644905
Iteration 38, loss = 0.54454480
Iteration 39, loss = 0.57248241
Iteration 40, loss = 0.64119315
Iteration 41, loss = 0.51554763
Iteration 42, loss = 0.45516442
Iteration 43, loss = 0.47141792
Iteration 44, loss = 0.45513942
Iteration 45, loss = 0.48365103
Iteration 46, loss = 0.47341597
Iteration 47, loss = 0.46477208
Iteration 48, loss = 0.43101572
Iteration 49, loss = 0.44692937
Iteration 50, loss = 0.41405358
Iteration 51, loss = 0.41486846
Iteration 52, loss = 0.39721061
Iteration 53, loss = 0.36512015
Iteration 54, loss = 0.41641861
Iteration 55, loss = 0.34753744
Iteration 56, loss = 0.36533531
Iteration 57, loss = 0.33796630
Iteration 58, loss = 0.33528282
Iteration 59, loss = 0.31920262
Iteration 60, loss = 0.33880399
Iteration 61, loss = 0.32598202
Iteration 62, loss = 0.29900899
Iteration 63, loss = 0.29007224
Iteration 64, loss = 0.30537626
Iteration 65, loss = 0.27857660
Iteration 66, loss = 0.27375594
Iteration 67, loss = 0.26197943
Iteration 68, loss = 0.27459768
Iteration 69, loss = 0.25621325
Iteration 70, loss = 0.23990250
Iteration 71, loss = 0.24236869
Iteration 72, loss = 0.24102574
Iteration 73, loss = 0.23445919
Iteration 74, loss = 0.25589164
Iteration 75, loss = 0.23009495
Iteration 76, loss = 0.22815893
Iteration 77, loss = 0.22825626
Iteration 78, loss = 0.22679553
Iteration 79, loss = 0.22386146
Iteration 80, loss = 0.22223347
Iteration 81, loss = 0.22224982
Iteration 82, loss = 0.22014271
Iteration 83, loss = 0.22061588
Iteration 84, loss = 0.21884980
Iteration 85, loss = 0.21954069
Iteration 86, loss = 0.21699930
Iteration 87, loss = 0.21872307
Iteration 88, loss = 0.21432887
Iteration 89, loss = 0.21491126
Iteration 90, loss = 0.21422367
Iteration 91, loss = 0.21548548
Iteration 92, loss = 0.21307442
Iteration 93, loss = 0.21338497
Iteration 94, loss = 0.21263198
Iteration 95, loss = 0.21095423
Iteration 96, loss = 0.20993691
Iteration 97, loss = 0.22752291
Iteration 98, loss = 0.21036637
Iteration 99, loss = 0.20778870
Iteration 100, loss = 0.20851707
Iteration 101, loss = 0.20806925
Iteration 102, loss = 0.20903769
Iteration 103, loss = 0.21107565
Iteration 104, loss = 0.21155506
Iteration 105, loss = 0.20888558
Iteration 106, loss = 0.21486037
Iteration 107, loss = 0.20801599
Iteration 108, loss = 0.21201028
Iteration 109, loss = 0.21730767
Iteration 110, loss = 0.20798174
Training loss did not improve more than tol=0.000010 for 10 consecutive epochs. Stopping.

0.9248958909694517

<h3> Random Forest

In [10]:
from sklearn.ensemble import RandomForestClassifier
random_forest_froud = RandomForestClassifier(n_estimators=40, criterion='entropy', random_state = 0)
random_forest_froud.fit(previsores_treinamento, classe_treinamento)

previsoes = random_forest_froud.predict(previsores_teste)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(classe_teste, previsoes)

0.9999126357785608

<h3> Arvore de decisão

In [11]:
from sklearn.tree import DecisionTreeClassifier
arvore_risco_fraud = DecisionTreeClassifier(criterion='entropy')
arvore_risco_fraud.fit(previsores_treinamento, classe_treinamento)

previsoes = arvore_risco_fraud.predict(previsores_teste)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(classe_teste, previsoes)

0.9995923002999505

Arvore de Decisão e Random Forest se destacaram como modelos preditivos de idetificação.

A baixo o modelo sera aplicado aos usuários que ainda não possuem level classificado, de acordo com a query "dfToClassify".

In [12]:
print(dfToClassify['account_number'].count(),"Transações sem classificação de level")
print(dfToClassify['account_number'].nunique(),"Accounts com pendência de avaliação")

27318 Transações sem classificação de level
103 Accounts com pendência de avaliação

<h2> Pre-processing of data and application of classification model

In [13]:
atributos = dfToClassify.iloc[:, 0:7].values

from sklearn.preprocessing import LabelEncoder
label_encoder_acc_name = LabelEncoder()
label_encoder_level = LabelEncoder()
label_encoder_description = LabelEncoder()
label_encoder_occupation = LabelEncoder()
label_encoder_state = LabelEncoder()
label_encoder_city = LabelEncoder()

atributos[:,0] = label_encoder_acc_name.fit_transform(atributos[:,0])
atributos[:,2] = label_encoder_description.fit_transform(atributos[:,2])
atributos[:,3] = label_encoder_occupation.fit_transform(atributos[:,3])
atributos[:,5] = label_encoder_state.fit_transform(atributos[:,5])
atributos[:,6] = label_encoder_city.fit_transform(atributos[:,6])

#Classification of
previsoes = arvore_risco_fraud.predict(atributos)

<h3> Dataframe is created with all event classified

In [14]:
classification = pd.DataFrame()
classification['account_number'] = dfToClassify['account_number']
classification['fraud'] = previsoes

- After classifying the 27,318 missing records any user who has a transaction with fraud was classified as fraudulent.

In [31]:
classification['fraud'] = classification['fraud'].astype(int)

classificationAccount = pd.DataFrame((classification.groupby(classification['account_number'])['fraud'].max())).reset_index()
classificationAccount.to_csv("fraudClassification.csv",index = False, sep=';')